.BlackContainer {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100vh;
  position: relative;
}

.StudentListContainer {
  top: 0rem;
  left: 0rem;
  width: 20rem;
  height: 100vh;
  position: absolute;
  background-color: rgba(33, 37, 25, 1);
  flex-direction: column;
  display: flex;
}
