.StudentNameButtonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 65px;
  width: 320px;
  height: 55px;
  align-items: center;
  background-color: rgba(33, 37, 25, 1);
  border-width: none;
  border-style: none;
}

.StudentName {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-left: 15px;
}

.StudentNameButtonContainer:hover {
  cursor: pointer;
  /* background-color: #ffffff; */
  background-color: #293846;
}

.active {
  cursor: pointer;
  background-color: #ffffff;
}
